<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../resources/css/style.css">
    <script src="https://kit.fontawesome.com/df76b9cef2.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="hobbies.html">Hobbies</a></li>
            <li><a href="projects.html">Projects</a></li>
        </ul>
        <div class="icon">
            <i class="fa-solid fa-house"></i>
        </div>
    </nav>
    
    <section class="intro">
        <img src="../resources/img/picOfMe.jpg" alt="Me at Boulder Mountain Park!">
        <div class="description">
            <h1>Welcome!</h1>
            <p>Hi, I'm Wyatt. I'm passionate about web development, design, and technology. Explore my site to learn more about my hobbies and projects.</p>
            <a href="resume.html" class="resume-link">View My Resume</a>
        </div>
    </section>
    
    <footer>
        <p>Connect with me:</p>
        <a href="https://www.linkedin.com/in/wyatt-lyda-965982293/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
        <a href="https://github.com/wyatt-lyda" target="_blank"><i class="fab fa-github"></i> GitHub</a>
    </footer>
</body>
</html>